<h1>Listing relations</h1>

<table>
  <thead>
    <tr>
      <th>User from</th>
      <th>User to</th>
      <th>Event entry</th>
      <th>Event exit</th>
      <th>Event post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @relations.each do |relation| %>
      <tr>
        <td><%= relation.user_from %></td>
        <td><%= relation.user_to %></td>
        <td><%= relation.event_entry %></td>
        <td><%= relation.event_exit %></td>
        <td><%= relation.event_post %></td>
        <td><%= link_to 'Show', relation %></td>
        <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relation', new_relation_path %>
