<%= render "/shared/common_header", title: "Users"%>
<div class="btn-group btn-group-justified">
  <a class="btn <%= @tab_class[:followers] %>" role="button" id="tab_btn_followers" href="/users?tab=followers">Friends</a>
  <a class="btn <%= @tab_class[:not_followers] %>" role="button" id="tab_btn_not_followers"  href="/users?tab=not_followers">Users</a>
  <a class="btn <%= @tab_class[:cafes] %>" role="button" id="tab_btn_cafes" href="/users?tab=cafes">Cafes</a>
</div>
<br/>

<!-- user list -->
<div class="container" id="content_users">
  <%= render "/shared/user_list", users: @users%>
</div>
  