<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>User name</th>
      <th>Phone no</th>
      <th>Imsi</th>
      <th>Ecgi</th>
      <th>Description</th>
      <th>Profile img</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.phone_no %></td>
        <td><%= user.imsi %></td>
        <td><%= user.ecgi %></td>
        <td><%= user.description %></td>
        <td><%= user.profile_img %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
