<%= render "/shared/common_header", title: "Users"%>
<div class="btn-group btn-group-justified">
  <a class="btn <%= @tab_class[:followers] %>" role="button" id="tab_btn_followers" href="/users?tab=followers">Friends</a>
  <a class="btn <%= @tab_class[:not_followers] %>" role="button" id="tab_btn_not_followers"  href="/users?tab=not_followers">Users</a>
  <a class="btn <%= @tab_class[:cafes] %>" role="button" id="tab_btn_cafes" href="/users?tab=cafes">Cafes</a>
</div>
<br/>

<!-- follower list -->
<div class="container" id="content_users">
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-3">
        <a href="<%= user_path(user)%>">
          <%= image_tag user.avatar.url(:medium), :width => "100%",:height => "100%", :class => "round_border" %>
        </a>
      </div>
      <div class="col-xs-9" style="vertical-align:middle;">
        <span class="user_name">
          <%= user.user_name %>
        </span>        
        <% if user.user_type %>
          <span class="cafe badge">
            Cafe
          </span>
        <% end %>
        <br/><br/>
        <div class="user_description" >
          <%= user.description %>        
        </div>
      </div>
    </div>
    <div class="row"><div class="col-xs-12"><hr></div></div>
  <% end %>
  <br/>
  <!-- paging -->
  <br/>
  <div class="row">
  <div class="col-xs-12 text-center">
    <%= paginate @users ,:window => 1%>
    <br/>
  </div>
</div>
  