<%= render "/shared/common_header", title: "Users"%>
<div class="btn-group btn-group-justified">
  <a class="btn <%= @tab_class[:followers] %>" role="button" id="tab_btn_followers" href="/users?tab=followers">Friends</a>
  <a class="btn <%= @tab_class[:not_followers] %>" role="button" id="tab_btn_not_followers"  href="/users?tab=not_followers">Users</a>
  <a class="btn <%= @tab_class[:cafes] %>" role="button" id="tab_btn_cafes" href="/users?tab=cafes">Cafes</a>
</div>
<br/>

<!-- follower list -->
<div class="container" id="content_users">
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-xs-4">
        <a href="<%= user_path(user)%>">
          <%= image_tag user.avatar.url(:medium) %>
        </a>
      </div>
      <div class="col-xs-7 well" style="vertical-align:middle;"><p >안녕하세요~ 저는 누구누구입니다. 어디어디 살구요. 무엇무엇 좋아해요 반가워요~</p></div>
    </div>
    <div class="row">
        <div class="col-xs-4" style="text-align:center;">
          <a href="<%= user_path(user)%>" align="center">
            <em id="user_id_<%=user.id%>" value="user_id_<%=user.id%>">
              <%= user.user_name %>
            </em>
          </a>
        </div>
        <div class="col-xs-8">Follower <span class="badge"><%= User.my_followers_count(user) %></span></div>
    </div>
    <div class="row"><div class="col-xs-12"><hr></div></div>
  <% end %>
  <br/>
  <!-- paging -->
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @users ,:window => 1%>
      <br/>
    </div>
  </div>
</div>
  
