<%= render "/shared/common_header", title: "Setting" %>

<!-- profile -->
<%= form_for @user, :url => user_path(@user), :method => "put", :html => { :multipart => true } do |form| %>
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
          <%= image_tag @user.avatar.url(:medium) %>
          <!-- <img src="http://4.bp.blogspot.com/-S6gwYPFP_lw/Uow-EhdHOPI/AAAAAAAAnWs/fcrHub2kcS4/s1600/Miss+A+Suzy+%EC%88%98%EC%A7%80+Hush+Teaser.jpg" class="img-responsive" alt="..."> -->
        </div>
        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;"></div>
        <div>
          <br/>
          <span class="btn btn-default btn-file"><span class="fileinput-new">사진 변경</span><span class="fileinput-exists">변경</span>
          <%= form.file_field :avatar %>
          </span>
          <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">취소</a>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
<div class="container">
  <div class="row-fluid">
    <div>
      <div class="form-group">
        <div class="controls">
            <%= form.text_field :user_name, :readonly => true %> <br>
            <%= form.text_field :phone_no, :readonly => true %> <br>
            <% if @user.user_type %>
              <%= form.text_field :expire_day, :class=> 'form_control' %><br>
              <%= form.text_field :expire_hour, :class=> 'form_control' %><br>
            <% end %>
          <%= form.text_area :description,:class=> 'form-control', :rows => '5' ,:maxlength =>140 %> <br>
          <%= form.submit :class=> "btn pull-right btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

