<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @user.phone_no %>
</p>

<p>
  <strong>Imsi:</strong>
  <%= @user.imsi %>
</p>

<p>
  <strong>Ecgi:</strong>
  <%= @user.ecgi %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>Profile img:</strong>
  <%= @user.profile_img %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
