<%= render "/shared/common_header", title: "User Profile" %>

<!-- profile -->
<div class="container profile_background">
  <div class="row">
    <br/>
    <div class="col-xs-4"></div>
    <div class="col-xs-4 text-center">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 100%; height: 100%;">
          <%= image_tag @user.avatar.url(:medium) ,:class => "round_border" %>
        </div>
      </div>
      <div class="user_name"><%= @user.user_name %></div>
    </div>
    <div class="col-xs-4"></div>
  </div>
  <br/>
</div>

<!-- tab -->
<div class="btn-group btn-group-justified">
  <a class="btn <%= @tab_class[:profile] %>" role="button" id="tab_btn_profile" href="<%= user_path(@user)%>?tab=profile">Profile</a>
  <a class="btn <%= @tab_class[:message] %>" role="button" id="tab_btn_message"  href="<%= user_path(@user)%>?tab=message">Message</a>
</div>
<br/>

<%= render "show_relation" %>
<%= render "show_message" %>



