<head>
  <title>WARP Community</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
 
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">User Profile</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="message.html">Message</a></li>
      <li><a href="users.html">User</a></li>
      <li><a href="search.html">Search</a></li>
      <li><a href="setting.html">Setting</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<div class="nav-padding"></div>

<!-- notice -->
<br/>
<p id="notice"><%= notice %></p>

<!-- profile -->
<div class="container">
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10 text-center">
      <div class="fileinput fileinput-new" data-provides="fileinput">
        <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
          <%= image_tag @user.avatar.url(:medium) %>
        </div>
      </div>
      <div><%= @user.user_name %></div>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>

<!-- tab -->
<div class="btn-group btn-group-justified">
  <a class="btn <%= @tab_class[:profile] %>" role="button" id="tab_btn_profile" href="<%= user_path(@user)%>?tab=profile">Profile</a>
  <a class="btn <%= @tab_class[:message] %>" role="button" id="tab_btn_message"  href="<%= user_path(@user)%>?tab=message">Message</a>
</div>
<br/>

<%= render "show_relation" %>


